<div class="accordion w-50" id="accordionExample">
  <div class="accordion-item bg-transparent border-light" *ngIf="isLoggedIn()">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="false"
        aria-controls="collapseOne"
      >
        Lektira Forma
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body p-5">
        <app-post-form
          (addEvent)="this.onAddPost($event)"
          (updateEvent)="this.onUpdatePost($event)"
        ></app-post-form>
      </div>
    </div>
  </div>
  <div class="accordion-item bg-transparent border-light">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        Pretraga Lektira
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body p-5">
        <form>
          <input
            type="text"
            class="form-control"
            name="search"
            placeholder="Unesite lektiru"
            [(ngModel)]="this.searchValue"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<h4 class="mt-5">Sve lektire</h4>
<div class="row row-cols-4">
  <div class="col" *ngFor="let post of this.posts | filter: this.searchValue">
    <div class="card border-secondary bg-transparent shadow">
      <div class="card-header">
        <h5 class="m-0">{{ post.title }}</h5>
      </div>
      <div class="card-body">
        <p class="mt-3">{{ post.body }}</p>
        <p class="text-secondary fst-italic">
          {{ post.date | date: "mediumDate" }}
        </p>
      </div>
      <div class="card-footer">
        <div class="row">
          <div
            *ngIf="this.isAdmin || this.loggedInUser.id === post.userId"
            class="col-auto"
          >
            <button
              type="button"
              class="btn btn-sm btn-outline-warning me-1"
              (click)="this.onSelect(post)"
            >
              Izmeni
            </button>
            <button
              type="button"
              class="btn btn-sm btn-outline-danger"
              (click)="this.onDeletePost(post.id)"
            >
              Obriši
            </button>
          </div>
          <div class="col-auto ms-auto">
            <button
              type="button"
              class="btn btn-sm btn-outline-secondary"
              routerLink="/post/{{ post.id }}"
            >
              Detaljnije
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
